@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - AlzhCareHub</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/loginpagedesigning.css" rel="stylesheet" />
    <link href="~/css/LoginModel.css" rel="stylesheet"/>
</head>
<body>

    <div class="login-container ">
        <h2 class="mb-3 fw-bold">@AlzhCareHub.StringResources.Resource.LoginHead</h2>
        <p class="text-muted mb-4">@AlzhCareHub.StringResources.Resource.LoginPara</p>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger text-center">
                @TempData["Error"]
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success text-center">
                @TempData["Success"]
            </div>
        }

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }

        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <input type="email" name="email" class="form-control" placeholder="@AlzhCareHub.StringResources.Resource.Email" required>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" name="password" class="form-control" placeholder="@AlzhCareHub.StringResources.Resource.Password" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100">@AlzhCareHub.StringResources.Resource.Login_</button>
        }

        <p class="mt-3 forgot-links">
            <a asp-controller="Auth" asp-action="ForgotPassword">@AlzhCareHub.StringResources.Resource.Reset_Password</a>
        </p>

        <p class="mt-3">
            Don't have an account?
            <a asp-controller="Auth" asp-action="Register">@AlzhCareHub.StringResources.Resource.Create_account</a>
        </p>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
