@{
    Layout = "_Donation";
}
@using System.Globalization
@{
    var culture = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var isRtl = culture == "ur"; // Urdu is RTL
    var direction = isRtl ? "rtl" : "ltr";
    var lang = culture;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer's Stage Prediction</title>
    <link href="~/css/caregiverdashboardstyling.css" rel="stylesheet" />
    <link href="~/css/caregiverdashboardcards.css" rel="stylesheet" />
    <link href="~/css/trainingresourcescss.css" rel="stylesheet" />
    <style>
        body[dir="rtl"] {
            text-align: right;
            direction: rtl;
            font-family: 'Noto Nastaliq Urdu', 'Arial', sans-serif;
        }

        body[dir="ltr"] {
            text-align: left;
            direction: ltr;
            font-family: 'Noto Nastaliq Urdu', 'Arial', sans-serif;
        }

        h2 {
            margin-bottom: 2rem;
        }

        body[dir="rtl"] label,
        body[dir="rtl"] input {
            line-height: 3.5rem;
        }

        ul li[dir="rtl"] {
            margin-bottom: 2rem;
        }

        .spacebottom[dir="rtl"]
        {
            margin-bottom: 1.5rem;
        }
     </style>
</head>
<body>

    <h2>@AlzhCareHub.StringResources.Resource.AlzhStageHead</h2>

    <div class="form-container" dir="@direction">
        <form id="alzheimers-form">
            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q1</label>
                <div class="radio-options">
                    <input class="spacebottom" type="radio" name="q1" value="early" dir="@direction"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" class="spacebottom" name="q1" value="moderate" dir="@direction" />@AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" class="spacebottom" name="q1" value="high" dir="@direction" /> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q2</label>
                <div class="radio-options">
                    <input type="radio" name="q2" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q2" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q2" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q3</label>
                <div class="radio-options">
                    <input type="radio" name="q3" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q3" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q3" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q4</label>
                <div class="radio-options">
                    <input type="radio" name="q4" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q4" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q4" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q5</label>
                <div class="radio-options">
                    <input type="radio" name="q5" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q5" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q5" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q6</label>
                <div class="radio-options">
                    <input type="radio" name="q6" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q6" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q6" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q7</label>
                <div class="radio-options">
                    <input type="radio" name="q7" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q7" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q7" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q8</label>
                <div class="radio-options">
                    <input type="radio" name="q8" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q8" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q8" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q9</label>
                <div class="radio-options">
                    <input type="radio" name="q9" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q9" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q9" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <div class="question-section">
                <label class="spacebottom" dir="@direction">@AlzhCareHub.StringResources.Resource.q10</label>
                <div class="radio-options">
                    <input type="radio" name="q10" value="early"> @AlzhCareHub.StringResources.Resource.o1
                    <input type="radio" name="q10" value="moderate"> @AlzhCareHub.StringResources.Resource.o2
                    <input type="radio" name="q10" value="high"> @AlzhCareHub.StringResources.Resource.o3
                </div>
            </div>

            <button type="button" class="helpbtn helpbtnprimary" style="width: 60%; display: block; margin: auto;" onclick="calculateStage()">@AlzhCareHub.StringResources.Resource.questioneryBtn</button>
        </form>

        <div id="result" class="result"></div>
        <div id="result" style="margin-top: 20px; background-color: #e5f6f1; padding: 15px; border-radius: 8px;"></div>
    </div>

    <script>
        function calculateStage() {
            let stageCount = {
                early: 0,
                moderate: 0,
                high: 0
            };

            for (let i = 1; i <= 10; i++) {
                let selected = document.querySelector(`input[name="q${i}"]:checked`);
                if (!selected) {
                    alert(`Please answer question ${i}.`);
                    return;
                }
                stageCount[selected.value]++;
            }

            let stage = "";
            let resources = "";

            if (stageCount.high > stageCount.moderate && stageCount.high > stageCount.early) {
                stage = "High Stage";
                resources = `
                    <h4 class="text-center">@AlzhCareHub.StringResources.Resource.highstagehead</h4>
                    <ul>
                        <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.highGoal</li>
                        <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.highsuggestedSteps
                            <ol>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.highs1</li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.highs2</li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.highs3</li>
                            </ol>
                        </li>
                        <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Resouces
                            <ul>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.hrs1
                                    <a href='https://www.alz.org/help-support/caregiving/stages-behaviors/late-stage' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.hrs2
                                    <a href='https://www.nia.nih.gov/health/end-life' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.hrs3
                                    <a href='https://www.alzheimers.org.uk/get-support/help-dementia-care/recognising-when-someone-reaching-end-their-life' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>`;
            } else if (stageCount.moderate > stageCount.high && stageCount.moderate > stageCount.early) {
                stage = "Moderate Stage";
                resources = `
                    <h4 class="text-center">@AlzhCareHub.StringResources.Resource.ModerateHead</h4>
                    <ul>
                        <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.ModerateGoal</li>
                        <li>@AlzhCareHub.StringResources.Resource.highsuggestedSteps
                            <ol>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.ms1</li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.ms2</li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.ms3</li>
                            </ol>
                        </li>
                        <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Resouces
                            <ul>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.mr1
                                    <a href='https://www.alz.org/help-support/caregiving/stages-behaviors/middle-stage' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.mr2
                                    <a href='https://youtu.be/wRSx4T5aNA8?si=i2WN56HvksbaNvg7' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.mr3
                                    <a href='https://alison.com/course/caregiving-skills-dementia-care-revised' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>`;
            } else {
                stage = "Early Stage";
                resources = `
                    <h4 class="text-center" style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.EarlyHead</h4>
                    <ul>
                        <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.EarlyStageGoal</li>
                        <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.highsuggestedSteps
                            <ol>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Es1</li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Es2</li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Es3</li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Es4</li>
                            </ol>
                        </li>
                        <li>@AlzhCareHub.StringResources.Resource.Resouces
                            <ul>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Er1
                                    <a href='https://www.alz.org/help-support/caregiving/stages-behaviors/early-stage' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Er2
                                    <a href='https://archive.org/details/36hourday00nanc_0/page/n351/mode/2up' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                                <li style="margin-bottom: 1rem;">@AlzhCareHub.StringResources.Resource.Er3
                                    <a href='https://longtreeeducation.com/course/comprehensive-alzheimers-and-dementia-care-seminar-9-2025/' target='_blank'>@AlzhCareHub.StringResources.Resource.Link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>`;
            }

            // Get the current selected language from the dropdown
            const language = document.querySelector('select[name="culture"]').value;

            // Set the appropriate section class based on the language
            const sectionClass = language === 'ur' ? 'urdu-section' : 'english-section';

            document.getElementById("result").innerHTML = `
                <div class="${sectionClass}">
                    ${resources}
                </div>`;
        }
    </script>

    <style>
        .urdu-section {
            direction: rtl;
            text-align: right;
            font-family: 'Noto Nastaliq Urdu', 'Arial', sans-serif;
            color: #004242;
        }

        .english-section {
            direction: ltr;
            text-align: left;
            font-family: 'Arial', sans-serif;
            color: #004242;
        }

        ul, ol {
            margin-bottom: 1rem;
        }

        li {
            margin-bottom: 0.5rem;
        }
    </style>

</body>
</html>